/New VR Project/Assets/3D Skybox/Mediterranean Freebies
New VR Project/Assets/AT_whole_temple (3).obj
New VR Project/Assets/skybox images/Temple_360_TIFF.tif
New VR Project/Assets/rec_temple_blocks.fbx
New VR Project/Assets/Rec Temples/AT_whole_temple (1).obj
New VR Project/Assets/Rec Temples/rec_temple_blocks.fbx
New VR Project/Assets/Rec Temples/AT_whole_temple (3).obj
New VR Project/Assets/rec_temple.obj
New VR Project/Assets/Rec Temples/geison_roof_tiles.fbx
New VR Project/Assets/Rec Temples/rec_temple_final.fbx
New VR Project/Assets/Rec Temples/rec_temple_new.fbx
New VR Project/Assets/Rec Temples/rec_temple.obj
New VR Project/Assets/Rec Temples/rec_temple_dir_fixed.fbx
New VR Project/Assets/Rec Temples/rec_temple_final_final.fbx
New VR Project/Assets/Ruins/High PC/AntiochiaTemple_RCP_mesh_high.obj
New VR Project/Assets/Ruins/LIDAR Scan/Antiochia_Temple_250302.obj
New VR Project/Assets/Ruins/Point Cloud/Antiochia_Point _Cloud.pts
New VR Project/Assets/3DModels/Antiochia_Point _Cloud.prefab
New VR Project/Assets/3DModels/Antiochia_Point _Cloud 2.prefab
New VR Project/Assets/Ruins/LIDAR Scan/AntiochiaTempleLiDAR_trimmed.obj
New VR Project/Assets/3DModels/Antiochia_Point _Cloud 2.prefab.meta
New VR Project/Assets/3DModels/Antiochia_Point _Cloud.prefab.meta
New VR Project/Assets/Rec Temples/AT_whole_temple (1).obj.meta
New VR Project/Assets/Rec Temples/AT_whole_temple (3).obj.meta
New VR Project/Assets/Rec Temples/rec_temple_final_final.fbx.meta
New VR Project/Assets/Ruins/High PC/AntiochiaTemple_RCP_mesh_high.obj.meta
New VR Project/Assets/Ruins/LIDAR Scan/AntiochiaTempleLiDAR_trimmed.obj.meta
New VR Project/Assets/Ruins/Point Cloud/Antiochia_Point _Cloud.pts.meta
New VR Project/Assets/skybox images/Temple_360_TIFF.tif.meta
